[submodule "Vundle.vim"]
  path = home/.vim/bundle/Vundle.vim
  url = git@github.com:gmarik/Vundle.vim.git

[submodule "command-t"]
  path = home/.vim/bundle/command-t
  url = git@github.com:wincent/command-t.git

[submodule "vim-autoformat"]
  path = home/.vim/bundle/vim-autoformat
  url = git@github.com:Chiel92/vim-autoformat.git

[submodule "vim-fugitive"]
  path = home/.vim/bundle/vim-fugitive
  url = git@github.com:tpope/vim-fugitive.git

[submodule "oh-my-zsh"]
  path = home/.oh-my-zsh
  url = git@github.com:robbyrussell/oh-my-zsh.git

[submodule "zsh-fuzzy-match"]
  path = home/.zsh-fuzzy-match
  url = git@github.com:tarruda/zsh-fuzzy-match.git
