[user]
	email = alonetiev@gmail.com
	name = aleontiev
[core]
	editor = vim
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[github]
	altschooltoken = 6567e23879c6d0d9b3eb04703a984d8d92bb9fb7
